# 导出 APP_ID, APP_SECRET, 用于创建 tenant_access_token
export APP_ID="123" # 机器人 ID
export APP_SECRET="123" # 机器人 token
export PARENT_NODE="123" # 文件夹 token
export BASE_APP_TOKEN="123" # base 的 token
export BASE_TABLE_ID="123" # base 的 table id
export WEBHOOK_URL="http:123/api" # 自己部署的获得 webhook 消息的服务器 api 地址